.container-top {
	margin: 10px 0px 0px 0px;
	padding: 0px auto;
}

.container-top a {
	color: #142543;
	text-decoration: underline;
	background: transparent;
	border: 0px;
}

.container-top address {
	color: #142543;
}

.home-section {
	margin: 25px auto;
	padding: 8px 0px 50px;
}

.row-header {
	margin: 0px auto;
	padding: 0px auto;
}

.container-video {
	height: 600px;
	width: 100%;
	object-fit: cover;
	object-position: 0 80%;
	padding: 8px 0px 100px;
	filter: blur(8px);
}

.leader-img {
	max-height: 600px;
	max-width: 100%;
	object-fit: cover;
	object-position: 0 50%;
	border-radius: 10px;
	/* clip-path: circle(50% at center); */
}

.container-overlay {
	text-align: center;
	justify-content: center;
	display: flex;
	align-items: center;
	height: 600px;
	width: 100%;
}

.row-video {
	vertical-align: middle;
	margin: 160px auto;
	z-index: 2;
	color: ＃142543;
}

#video_overlays {
	position: absolute;
	z-index: 2;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

#video_box {
	position: relative;
}

.btn-primary {
	background-color: #0e6fff;
	color: floralwhite;
	border: none;
	font-size: 16px;
	border-radius: 22px;
}

.btn-primary:hover {
	background-color: #ff6a6b;
}

.row-footnote {
	margin: 30px;
	color: #0e6fff;
	font-size: 16px;
}

.container-bottom {
	background-color: #0e6fff;
	color: floralwhite;
}

.row-content {
	margin: 0px auto;
	padding: 50px 0px 50px 0px;
	border-bottom: 1px ridge;
	min-height: 400px;
}

.row-service {
	margin: 5px auto;
	display: flex;
	justify-content: center;
	background-color: #81e1cc;
	padding: 100px 0px 100px 0px;
}

.row-service h5 {
	color: floralwhite;
}

.row-service h1 {
	height: 600px;
	width: 100%;
	color: #142543;
}

.col-service-sub {
	margin: 5px auto;
	align-self: center;
	padding: 50px;
}

.col-service-sub h3 {
	text-align: center;
	color: #142543;
}

.col-service-sub p {
	text-align: center;
	color: #142543;
}

.btn-center {
	text-align: center;
}

.col-partner {
	margin: 10px 10px;
	padding: auto 100px;
	color: #142543;
	border-radius: 12px;
}

.row-partner-img {
	display: flex;
	height: 150px;
	vertical-align: middle;
}

.col-partner img {
	background-color: #142543;
	max-width: 100%;
	object-fit: contain;
}

.footer {
	background-color: #d5f7f1;
	margin: 0px auto;
	padding: 20px 0px 20px 0px;
}

.jumbotron {
	padding: 70px 30px 70px 30px;
	margin: 0px auto;
	background: #0e6fff;
	color: floralwhite;
}

.jumbotron a {
	color: floralwhite;
	text-decoration: underline;
}

.jumbotron address {
	color: floralwhite;
}

address {
	font-size: 80%;
	margin: 0px;
	color: #0e6fff;
}

.navbar-light {
	margin: 0px auto;
	padding: 15px 0px 15px 0px;
	border-top: 0.5px lightgray solid;
	font-size: 16px;
	font-weight: bold;
	color: #142543;
}

/* .nav-a:visited {
	color: #0e6fff !important;
}

.nav-a:hover {
	color: #ff6a6b !important;
}

.nav-a:focus {
	color: #0e6fff !important;
} */

.text-primary {
	color: #ff6a6b;
}

.nav-link a:visited {
	color: #0e6fff !important;
}
